<div class="dashboard-heading">
  <div class="row clearfix">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
      <h1>
        DASHBOARD
        <small>A summary of your account</small>
      </h1>
    </div>
    <ol class="breadcrumb align-right">
        <li class="active"><a routerLink="/dashboard/home"><i class="fa fa-home"></i> Home</a></li>
        </ol>
  </div>
</div>
<div class="page-body">
    <div class="col-md-12">
            <h1>Welcolme on <img src="../../../assets/images/logo_ngEducation3.png" alt="ngEducation" style="display:inline;height:100px;padding-bottom: 10px;"></h1>
    </div>
    
    <br>
    <br>
    <div class="block-header">
      <h2>ANALYTICS</h2>
      </div>
      <div class="row clearfix">
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="info-box infobox-type-5 hover-zoom-effect">
                <div class="icon">
                    <i class="material-icons col-primary" style="color: #2980b9;">school</i>
                </div>
                <div class="content" style="margin-top: 0px !important;">
                    <div class="text">STUDENTS USING THE APP</div>
                    <div class="number">{{students}}</div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
          <div class="info-box infobox-type-5 hover-zoom-effect">
              <div class="icon">
                  <i class="material-icons col-primary" style="color:#db4452;">supervisor_account</i>
              </div>
              <div class="content" style="margin-top: 0px !important;">
                  <div class="text">TEACHERS USING THE APP</div>
                  <div class="number">{{teachers}}</div>
              </div>
          </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div class="info-box infobox-type-5 hover-zoom-effect">
            <div class="icon">
                <i class="material-icons col-primary" style="color: #f6b226;">email</i>
            </div>
            <div class="content" style="margin-top: 0px !important;">
                <div class="text">TOTAL MAILS SENT</div>
                <div class="number">{{mails}}</div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
      <div class="info-box infobox-type-5 hover-zoom-effect">
          <div class="icon">
              <i class="material-icons col-primary" style="color: #17a085;">attach_file</i>
          </div>
          <div class="content" style="margin-top: 0px !important;">
              <div class="text">TOTAL FILES UPLOADED</div>
              <div class="number">{{files}}</div>
          </div>
      </div>
  </div>
      </div>

      <div class="block-header">
        <h2>WIDGETS</h2>
        </div>

        
            
        

        
</div>

<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" *ngIf="te">
        <app-text-editor></app-text-editor>
        </div>

<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" *ngIf="todo">
<app-todo></app-todo>
</div>
