<div class="modal fade" id="changePassword" tabindex="-1" role="dialog" style="margin-top:50px;">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="smallModalLabel">CHANGE PASSWORD</h4>
        <h6>Welcome new user! You must change your password to use the application.</h6>
      </div>
      <form [formGroup]="form" (submit)="changePassword()">
        <div class="modal-body">

          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-8 col-xl-8">
              <div class="form-group">
                <div [ngClass]="{'has-error': (form.controls.oldPassword.errors && form.controls.oldPassword.dirty) || (!oldPasswordValid && form.controls.oldPassword.dirty), 'has-success': !form.controls.oldPassword.errors && oldPasswordValid}">
                  <label>Current Password</label>
                  <input type="password" class="form-control" name="oldPassword" formControlName="oldPassword" (blur)="validOldPassword()">
                  <!-- Validation -->
                  <ul class="help-block">
                    <li *ngIf="form.controls.oldPassword.errors?.required && form.controls.oldPassword.dirty">This field is required</li>
                    <li *ngIf="oldPasswordMessage">{{ oldPasswordMessage }}</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-8 col-xl-8">
              <div class="form-group">
                <div [ngClass]="{'has-error': (form.controls.password.errors && form.controls.password.dirty) || (!comparePasswordValid && form.controls.password.dirty), 'has-success': !form.controls.password.errors && comparePasswordValid}">
                  <label>New Password</label>
                  <input type="password" class="form-control" name="password" formControlName="password" (blur)="comparePasswords()">
                  <!-- Validation -->
                  <ul class="help-block">
                    <li *ngIf="form.controls.password.errors?.required && form.controls.password.dirty">This field is required</li>
                    <li *ngIf="form.controls.password.errors?.minlength && form.controls.password.dirty || form.controls.password.errors?.maxlength && form.controls.password.dirty ">Minimum characters: 8, Maximum characters: 35</li>
                    <li *ngIf="form.controls.password.errors?.validatePassword && form.controls.password.dirty">Password must be at least 8 characters but no more than 35</li>
                    <li *ngIf="comparePasswordMessage">{{ comparePasswordMessage }}</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-8 col-xl-8">
              <div class="form-group">
                <div [ngClass]="{'has-error': (form.controls.confirm.errors && form.controls.confirm.dirty) || (form.errors?.matchingPasswords && form.controls.confirm.dirty), 'has-success': !form.controls.confirm.errors && !form.errors?.matchingPasswords}">
                  <label>Repeat Password</label>
                  <input type="password" class="form-control" name="confirm" formControlName="confirm">
                  <!-- Validation -->
                  <ul class="help-block">
                    <li *ngIf="form.controls.confirm.errors?.required && form.controls.confirm.dirty">This field is required</li>
                    <li *ngIf="form.errors?.matchingPasswords && form.controls.confirm.dirty">Password do not match</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12">
              <div class="form-group">

                <div [ngClass]="{'has-error': (form.controls.about.errors && form.controls.about.dirty), 'has-success': !form.controls.about.errors}">
                  <label>Something about you (other users can see this)</label>
                  <textarea class="form-control" name="about" formControlName="about" rows="4"></textarea>
                  <!-- Validation -->
                  <ul class="help-block">
                    <li *ngIf="form.controls.about.errors?.required && form.controls.about.dirty">This field is required</li>
                    <li *ngIf="form.controls.about.errors?.maxlength && form.controls.about.dirty ">Maximum characters: 500</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>




        </div>
        <div class="modal-footer">
          <input type="submit" class="btn btn-success" [disabled]="!form.valid || processing || !comparePasswordValid || !oldPasswordValid" value="CONFIRM"/>
        </div>
      </form>
    </div>
  </div>
</div>
