<div class="modal fade" id="uploadModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <form [formGroup]="form" (submit)="uploadFile()">
        <div class="modal-header">
          <h4 class="modal-title" id="defaultModalLabel">UPLOAD FILE</h4>

          <div class="row clearfix">
            <div class="col-sm-12">
              <div class="col-888 font-bold">Path: {{folderPath}}</div>
            </div>
          </div>
        </div>
        <div class="modal-body">





          <!-- FILE UPLOAD -->
          <div class="row clearfix">
            <div class="col-sm-12">

              <!-- <label>Upload your file here</label> -->
              <!-- <dropzone [config]="config" [message]="'Click or drag images here to upload'" (error)="onUploadError($event)" (success)="onUploadSuccess($event)"></dropzone> -->
              <!-- <input type="file" class="form-control" name="multiple" ng2FileSelect [uploader]="uploader" multiple/> -->
              <label for="multiple">Upload your file here</label>
              <input type="file" class="form-control" name="multiple" ng2FileSelect [uploader]="uploader" name="file" formControlName="file"
                multiple/>

              <!-- TABLE -->

              <div class="col-sm-12">
                <h3>File chosen from local:</h3>
                Number of files: {{ uploader?.queue?.length }}

                <table class="table">
                  <thead>
                    <tr>
                      <th width="50%">Name</th>
                      <th>Size</th>
                      <th>Progress</th>
                      <th>Status</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of uploader.queue">
                      <td><strong>{{ item.file.name }}</strong></td>
                      <td nowrap>{{ item.file.size/1024/1024 | number:'.2' }} MB</td>
                      <td>
                        <div class="progress" style="margin-bottom: 0;">
                          <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                        </div>
                      </td>
                      <td class="text-center">
                        <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                        <!-- <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span> -->
                        <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                      </td>
                      <td nowrap>
                        <!-- <button type="button" class="btn btn-success btn-xs"
                            (click)="uploadItem(item)" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                        <span class="glyphicon glyphicon-upload"></span> Upload
                    </button> -->
                        <!-- <button type="button" class="btn btn-warning btn-xs"
                            (click)="item.cancel()" [disabled]="!item.isUploading">
                        <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                    </button> -->
                        <button type="button" class="btn btn-danger btn-xs" (click)="item.remove()">
                        <span class="glyphicon glyphicon-trash"></span> Remove
                    </button>
                      </td>
                    </tr>
                  </tbody>
                </table>

                <div>
                  <div>
                    Upload progress:
                    <div class="progress" style="">
                      <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                    </div>
                  </div>
                  <button type="button" class="btn btn-success btn-s" (click)="uploadFiles()" [disabled]="!uploader.getNotUploadedItems().length">
                <span class="glyphicon glyphicon-upload"></span> Upload all
            </button>
                  <!-- <button type="button" class="btn btn-warning btn-s"
                    (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
                <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
            </button> -->
                  <button type="button" class="btn btn-danger btn-s" (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                <span class="glyphicon glyphicon-trash"></span> Remove all
            </button>
                </div>
              </div>


              <!--END TABLE -->
            </div>
          </div>

          <!-- END FILE UPLOAD -->

          <br>

          <!-- TEXTAREA -->

          <div class="row clearfix">
            <div class="col-sm-12">
              <label>Description</label>
              <div class="form-horizontal">
                <textarea class="form-control no-resize" cols="8" rows="5" placeholder="Please type what you want..." name="description"
                  formControlName="description"></textarea>
              </div>
            </div>
          </div>
          <!-- END TEXTAREA -->



        </div>




        <div class="modal-footer">
          <button type="submit" class="btn btn-success">SAVE CHANGES</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="reset()">CLOSE</button>
        </div>

      </form>
    </div>
  </div>
</div>
