<div class="col-xs-12 col-sm-12 col-md-4 col-lg-2 email-menu">
  <a routerLink="/dashboard/mailbox/compose" class="btn btn-success btn-block m-b-20" >Compose Email</a>
  <div class="list-group">
    <a routerLink="/dashboard/mailbox/inbox" class="list-group-item">
      <i class="fa fa-inbox fa-fw m-r-5"></i>Inbox
      <span class="badge bg-warning">4</span>
    </a>
    <a href="javascript:void(0);" class="list-group-item">
      <i class="fa fa-ban fa-fw m-r-5"></i>Spam
      <span class="badge bg-danger">9</span>
    </a>
    <a href="javascript:void(0);" class="list-group-item">
      <i class="fa fa-exclamation-circle fa-fw m-r-5"></i>Important
    </a>
    <a href="javascript:void(0);" class="list-group-item">
      <i class="fa fa-envelope-o fa-fw m-r-5"></i>Sent
    </a>
    <a href="javascript:void(0);" class="list-group-item">
      <i class="fa fa-file-text-o fa-fw m-r-5"></i>Drafts
    </a>
    <a href="javascript:void(0);" class="list-group-item">
      <i class="fa fa-trash-o fa-fw m-r-5"></i>Trash
    </a>
  </div>
  <div class="menu-title">QUICK VIEW</div>
  <div class="list-group">
    <a href="javascript:void(0);" class="list-group-item">
      <i class="fa fa-file-text-o fa-fw m-r-5"></i>Documents
    </a>
    <a href="javascript:void(0);" class="list-group-item">
      <i class="fa fa-flag fa-fw m-r-5"></i>Flagged
      <span class="badge bg-success">3</span>
    </a>
    <a href="javascript:void(0);" class="list-group-item">
      <i class="fa fa-picture-o fa-fw m-r-5"></i>Images
    </a>
  </div>
</div>
