<div class="col-xs-12 col-sm-12 col-md-4 col-lg-2 email-menu">
  <a routerLink="/dashboard/mailbox/compose" class="btn btn-success btn-block m-b-20" >Compose Email</a>
  <div class="list-group">
    <a routerLink="/dashboard/mailbox/inbox" class="list-group-item">
      <i class="fa fa-inbox fa-fw m-r-5"></i>Inbox
      <span class="badge bg-warning">4</span>
    </a>
    <a href="javascript:void(0);" class="list-group-item">
      <i class="fas fa-newspaper fa-fw m-r-5"></i>New
    </a>
    <a href="javascript:void(0);" class="list-group-item">
      <i class="fas fa-share-square fa-fw m-r-5"></i>Sent
    </a>
    <a href="javascript:void(0);" class="list-group-item">
      <i class="fas fa-trash fa-fw m-r-5"></i>Trash
    </a>
  </div>
  <div class="menu-title">QUICK VIEW</div>
  <div class="list-group">
    <a href="javascript:void(0);" class="list-group-item">
      <i class="fa fa-exclamation-circle fa-fw m-r-5"></i>Important
    </a>
    <a href="javascript:void(0);" class="list-group-item">
      <i class="fas fa-comments fa-fw m-r-5"></i>Communication
    </a>
    <a href="javascript:void(0);" class="list-group-item">
      <i class="fas fa-briefcase fa-fw m-r-5"></i>Homework
    </a>
  </div>
</div>
