<div class="col-xs-12 col-sm-12 col-md-4 col-lg-2 email-menu">
  <a routerLink="/dashboard/mailbox/compose" class="btn btn-success btn-block m-b-20" >Compose Email</a>
  <div class="list-group">
    <a routerLink="/dashboard/mailbox/inbox" class="list-group-item">
      <i class="fa fa-inbox fa-fw m-r-5"></i>Inbox
      <span *ngIf="newMails>0" class="badge bg-primary">{{newMails}}</span>
    </a>
    <a routerLink="/dashboard/mailbox/new" class="list-group-item">
      <i class="fas fa-newspaper fa-fw m-r-5"></i>New
    </a>
    <a routerLink="/dashboard/mailbox/sent" class="list-group-item">
      <i class="fas fa-share-square fa-fw m-r-5"></i>Sent
    </a>
    <a routerLink="/dashboard/mailbox/trash" class="list-group-item">
      <i class="fas fa-trash fa-fw m-r-5"></i>Trash
    </a>
  </div>
  <div class="menu-title">QUICK VIEW</div>
  <div class="list-group">
    <a routerLink="/dashboard/mailbox/important" class="list-group-item">
      <i class="fa fa-exclamation-circle fa-fw m-r-5"></i>Important
      <span *ngIf="newImportant>0" class="badge bg-danger">{{newImportant}}</span>
    </a>
    <a routerLink="/dashboard/mailbox/communication" class="list-group-item">
      <i class="fas fa-comments fa-fw m-r-5"></i>Communication
      <span *ngIf="newCommunication>0" class="badge bg-success">{{newCommunication}}</span>
    </a>
    <a routerLink="/dashboard/mailbox/homework" class="list-group-item">
      <i class="fas fa-briefcase fa-fw m-r-5"></i>Homework
      <span *ngIf="newHomework>0" class="badge bg-warning">{{newHomework}}</span>
    </a>
  </div>
</div>
