<body class="sign-in-page">
<div class="signin-form-area" style="width:100%;padding-top: 200px;">
  <h1><b>angularCloud</b> - development</h1>
  <div class="signin-top-info">Sign in to start your session</div>
  <div class="row padding-15">
    <div class="col-sm-2 col-md-2 col-lg-5"></div>
    <div class="col-sm-8 col-md-8 col-lg-2">
      <form id="frmSignin" method="post">
        <div class="form-group has-feedback">
          <input type="email" class="form-control" placeholder="Email" name="Email" id="Email" required />
          <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
          <input type="password" class="form-control" placeholder="Password" name="Password" id="Password" required />
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="row">
          <div class="col-xs-8">
            <div class="checkbox icheck m-l--20"  >
              <label><input type="checkbox" icheck> Remember Me</label>
            </div>
          </div>
          <div class="col-xs-4">
            <button type="submit" class="btn btn-success btn-block btn-flat">Sign In</button>
          </div>
        </div>
      </form>
      <div class="social-media-area">
        <span>OR</span>
        <ul>
          <li>
            <a href="javascript:void(0);" class="facebook" data-toggle="tooltip" data-title="Facebook">
    <i class="fa fa-facebook"></i>
    </a>
          </li>
          <li>
            <a href="javascript:void(0);" class="twitter" data-toggle="tooltip" data-title="Twitter">
    <i class="fa fa-twitter"></i>
    </a>
          </li>
          <li>
            <a href="javascript:void(0);" class="google-plus" data-toggle="tooltip" data-title="Google Plus">
    <i class="fa fa-google-plus"></i>
    </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-sm-2 col-md-2 col-lg-4"></div>
  </div>
</div>

<div class="signin-bottom-info" style="width:100%;">
  <a href="sign-up.html">
     <i class="fa fa-user-circle-o m-r-5"></i>Register Now!
    </a>
  <a href="forgot-password.html" class="pull-right">Forgot Password
    <i class="fa fa-unlock m-l-5 font-14"></i>
    </a>
</div>
</body>
