<div class="col-xs-12 col-sm-12 col-md-8 col-lg-10">
    <div class="panel panel-default email-panel">
        <div class="email-panel-heading">
            <div class="row clearfix">
                <div class="col-sm-5">
                    <h2>COMPOSE EMAIL</h2>
                </div>
                <div class="col-sm-7 align-right">
                    <a routerLink="/dashboard/mailbox/inbox" type="button" class="btn btn-danger btn-sm"><i class="fa fa-times m-r-5"></i>Cancel</a>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <form class="m-t-15">
                <div class="form-group p-l-15 p-r-15">
                    <label for="select2_1">Classes:</label>
                    <select2 id="select2_1" [data]="selectArrayClasses" [options]="options" [width]="'100%'"  (valueChanged)="changedClasses($event)"></select2>
                </div>
                <div class="form-group p-l-15 p-r-15">
                    <label for="select2_2">Sendee:</label>
                    <select2 id="select2_2" [data]="selectArrayStudents" [options]="options" [width]="'100%'" (valueChanged)="changedUsers($event)"></select2>
                </div>
                <div class="form-group p-l-15 p-r-15">
                    <input type="text" placeholder="Subject:" class="form-control" [(ngModel)]="subject" name="subject"/>
                </div>
                <div class="form-group p-l-15 p-r-15" >
                    <div id="summernote">
                        
                    </div>
                </div>
                <div class="form-group clearfix">
                    <div class="col-sm-12 align-right">
                        <button class="btn btn-sm btn-success" (click)="sendEmail()">SEND<i class="fa fa-arrow-right m-l-5"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>