<div class="page-heading">
  <h1>MY FILES</h1>
  <ol class="breadcrumb">
    <li>
      <a routerLink="/dashboard/home">
        <i class="fa fa-home"></i> Home</a>
    </li>
    <li class="active">
      <a routerLink="/dashboard/filemanager">
        <i class="fas fa-users"></i> My Files</a>
    </li>
  </ol>
</div>

<div class="page-body">
  <div class="file-manager row clearfix">
    <!-- Upload -->
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <button class="btn btn-success btn-block" data-toggle="modal" data-target="#defaultModal">
            <!--onclick="$('.js-file-upload').click();"-->
            <i class="fa fa-upload m-r-5"></i>Upload Files
          </button>
          <input type="file" class="js-file-upload hide" multiple>
        </div>
      </div>
    </div>
    <!-- END UPLOAD -->

    <!-- SEARCHBAR -->
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-9">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row clearfix">
            <div class="col-sm-9">
              <button class="btn btn-danger" data-toggle="tooltip" data-title="Delete" data-placement="right">
                <i class="fas fa-trash-alt"></i>
              </button>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
              <div class="input-group input-group-sm">
                <input type="text" class="form-control" placeholder="Quick search...">
                <span class="input-group-btn">
                  <button class="btn btn-success" type="button">Search</button>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- END SEARCHBAR -->


    <!-- FOLDERS -->
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          FOLDERS
        </div>
        <div class="panel-body">
          <div class="row clearfix">


            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
              <div class="file-box">
                <div class="heading">
                  <input type="checkbox" />
                </div>
                <div class="body">
                  <div class="icon">
                    <i class="fa fa-folder-open"></i>
                  </div>
                </div>
                <div class="footer">
                  <a href="javascript:void(0);" class="name">Audio</a>
                  <div class="size">2 folders</div>
                </div>
              </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
              <div class="file-box">
                <div class="heading">
                  <input type="checkbox" />
                </div>
                <div class="body">
                  <div class="icon">
                    <i class="fa fa-folder-open"></i>
                  </div>
                </div>
                <div class="footer">
                  <a href="javascript:void(0);" class="name">Audio</a>
                  <div class="size">2 folders</div>
                </div>
              </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
              <div class="file-box">
                <div class="heading">
                  <input type="checkbox" />
                </div>
                <div class="body">
                  <div class="icon">
                    <i class="fa fa-folder-open"></i>
                  </div>
                </div>
                <div class="footer">
                  <a href="javascript:void(0);" class="name">Audio</a>
                  <div class="size">2 folders</div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- END FOLDERS -->


<!-- FILES -->
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                FILES
              </div>
              <div class="panel-body">
                <div class="row clearfix">
      
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
                                <div class="file-box">
                                    <div class="heading">
                                        <input type="checkbox" />
                                    </div>
                                    <div class="body">
                                        <div class="icon">
                                            <i class="far fa-file-word"></i>
                                        </div>
                                    </div>
                                    <div class="footer">
                                        <a href="javascript:void(0);" class="download" data-toggle="tooltip" data-title="Download File">
                                            <i class="fa fa-download"></i>
                                        </a>
                                        <a href="javascript:void(0);" class="name">doc_2016-12-20.doc</a>
                                        <div class="size">1.4MB</div>
                                    </div>
                                </div>
                            </div>
      
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
                                    <div class="file-box">
                                        <div class="heading">
                                            <input type="checkbox" />
                                        </div>
                                        <div class="body">
                                            <div class="icon">
                                                <i class="far fa-file-word"></i>
                                            </div>
                                        </div>
                                        <div class="footer">
                                            <a href="javascript:void(0);" class="download" data-toggle="tooltip" data-title="Download File">
                                                <i class="fa fa-download"></i>
                                            </a>
                                            <a href="javascript:void(0);" class="name">doc_2016-12-20.doc</a>
                                            <div class="size">1.4MB</div>
                                        </div>
                                    </div>
                                </div>
      
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
                                        <div class="file-box">
                                            <div class="heading">
                                                <input type="checkbox" />
                                            </div>
                                            <div class="body">
                                                <div class="icon">
                                                    <i class="far fa-file-word"></i>
                                                </div>
                                            </div>
                                            <div class="footer">
                                                <a href="javascript:void(0);" class="download" data-toggle="tooltip" data-title="Download File">
                                                    <i class="fa fa-download"></i>
                                                </a>
                                                <a href="javascript:void(0);" class="name">doc_2016-12-20.doc</a>
                                                <div class="size">1.4MB</div>
                                            </div>
                                        </div>
                                    </div>
                </div>
      
              </div>
            </div>
          </div>
          <!-- END FILES -->




    <!-- MODAL -->

    <div class="modal fade" id="defaultModal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <app-file-upload></app-file-upload>
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>

    <!-- END MODAL -->

  </div>
