

<div class="page-heading">
  <h1>MY FILES</h1>
  <ol class="breadcrumb">
    <li>
      <a routerLink="/dashboard/home">
        <i class="fa fa-home"></i> Home</a>
    </li>
    <li class="active">
      <a routerLink="/dashboard/filemanager">
        <i class="fas fa-users"></i> My Files</a>
    </li>
  </ol>
</div>

<div class="page-body">
  <div class="file-manager row clearfix">
    <!-- Upload -->
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <button class="btn btn-success btn-block" data-toggle="modal" data-target="#uploadModal">
            <!--onclick="$('.js-file-upload').click();"-->
            <i class="fa fa-upload m-r-5"></i>Upload Files
          </button>
          <input type="file" class="js-file-upload hide" multiple>
        </div>
      </div>
    </div>
    <!-- END UPLOAD -->

    <!-- SEARCHBAR -->
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-9">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row clearfix">
            <div class="col-sm-9">
              <button class="btn btn-danger" data-toggle="tooltip" data-title="Delete" data-placement="right">
                <i class="fas fa-trash-alt"></i>
              </button>
              <button type="button" class="m-w-150 btn btn-info"  data-toggle="modal" data-target="#folderModal"><i class="fas fa-folder"></i> New Folder</button>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
              <div class="input-group input-group-sm">
                <input type="text" class="form-control" placeholder="Quick search...">
                <span class="input-group-btn">
                  <button class="btn btn-success" type="button">Search</button>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- END SEARCHBAR -->


    <!-- FOLDERS -->
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          FOLDERS
        </div>
        <div class="panel-body">
          <div class="row clearfix">

            <!-- FOLDER -->
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3" *ngFor="let folder of folders">
              <div class="file-box" (onCreate)="checkBox()">
                <div class="heading">
                  <input type="checkbox" data-icheck-theme="square" data-icheck-color="green"/>
                </div>
                <div class="body">
                  <div class="icon">
                    <i class="fa fa-folder-open"></i>
                  </div>
                </div>
                <div class="footer">
                  <a role="button" class="name" (click)="getFiles(folder._id)">{{folder.name}}</a>
                  <div class="size">{{folder.createdAt}}</div>
                </div>
              </div>
            </div>

            <!-- END FOLDER -->

          </div>
        </div>
      </div>
    </div>
    <!-- END FOLDERS -->


    <!-- FILES -->
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          FILES
        </div>
        <div class="panel-body">
          <div class="row clearfix">

            <!-- FILE -->
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3" *ngFor="let file of files">
              <div class="file-box">
                <div class="heading">
                  <input type="checkbox" />
                </div>
                <div class="body">
                  <div class="icon">
                    <i class="far fa-file-word"></i>
                  </div>
                </div>
                <div class="footer">
                  <a href="javascript:void(0);" class="download" data-toggle="tooltip" data-title="Download File">
                                            <i class="fa fa-download"></i>
                                        </a>
                  <a href="javascript:void(0);" role="button" (click)="toggleSidebar(file.filename)" class="name js-right-sidebar">{{file.path}}</a>       
                  <div class="size">{{file.uploadedAt}}</div>
                </div>
              </div>
            </div>
            <!-- END FILE -->
          </div>

        </div>
      </div>
    </div>
    <!-- END FILES -->




    <!-- MODAL -->

    <div class="modal fade" id="uploadModal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <app-file-upload></app-file-upload>
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>

    <!-- END MODAL -->



    <!-- MODAL -->

    <div class="modal fade" id="folderModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h4 class="modal-title" id="defaultModalLabel">CREATE FOLDER</h4>
                </div>
                <div class="modal-body">
                  <!-- USERS SELECTION -->
                
                  <div class="row clearfix">
                    <div class="col-sm-12">
                        <label>Folder Name</label>
                        <input type="text" class="form-control" placeholder="Folder Name">
                    </div>
                  </div>
                  <br>
                  <div class="row clearfix">
                    <div class="col-sm-12">
                      <label>Select Parent Folder</label>
                      <select2 [options]="options" [data]="exampleData" [width]="'100%'"  [value]="value" > 
                      </select2>
                    </div>
                  </div>
                  
                
                </div>
                
                
                <div class="modal-footer">
                    <button type="button" class="btn btn-success">SAVE CHANGES</button>
                  <button type="button" class="btn btn-danger" data-dismiss="modal">CLOSE</button>
                </div>
                
                
          </div>
        </div>
      </div>
  
      <!-- END MODAL -->



  </div>
</div>

<!-- RIGHT SIDEBAR -->
<aside class="right-sidebar">
    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#tab_overview" data-toggle="tab">FILE INFOS</a></li>
        <li role="presentation"><a href="#tab_settings" data-toggle="tab">USERS</a></li>
      </ul>
      <div class="tab-content">
        <div class="right-sidebar-close">
            <i class="fa fa-times"></i>
        </div>

        <!-- FILE INFO -->
        <div role="tabpanel" class="tab-pane fade in active" id="tab_overview">
            <div class="tab-container">
              <div class="container">
              <br>
              <br>
      
              <p><strong>Filename : </strong></p><p>{{fileInfos.path}}</p> 
              <p><strong>Uploaded By : </strong> </p><p>{{fileInfos.uploadedBy}}</p> 
              <p><strong>Uploaded At : </strong> </p><p>{{fileInfos.uploadedAt}}</p> 
              <p><strong>Descriprion : </strong></p> <p>{{fileInfos.description}}</p> 
       
            </div>
          </div>
        </div>

        <!-- END FILE INFO -->

        <!-- USERS -->
        <div role="tabpanel" class="tab-pane fade" id="tab_settings">
            <div class="tab-container">

                <ul class="list-group">        
                  <li class="list-group-item" *ngFor="let user of fileUsers">{{user}}</li>
              </ul>
                
            </div>
        </div>
        <!-- END USERS -->
      </div>
    
</aside>
<!-- END RIGHT SIDEBAR -->

  
