

<div class="page-heading">
  <h1>MY FILES</h1>
  <ol class="breadcrumb">
    <li>
      <a routerLink="/dashboard/home">
        <i class="fa fa-home"></i> Home</a>
    </li>
    <li class="active">
      <a routerLink="/dashboard/filemanager">
        <i class="fas fa-users"></i> My Files</a>
    </li>
  </ol>
</div>

<div class="page-body">
  <div class="file-manager row clearfix">
    

    <!-- SEARCHBAR -->
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row clearfix">
            <div class="col-sm-12 col-xs-12 col-md-9">
              <button class="btn btn-danger" data-toggle="tooltip" data-title="Delete" data-placement="right">
                <i class="fas fa-trash-alt"></i>
              </button>
              
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
              <div class="input-group input-group-sm">
                <input type="text" class="form-control" placeholder="Quick search...">
                <span class="input-group-btn">
                  <button class="btn btn-success" type="button">Search</button>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- END SEARCHBAR -->


    <!-- FOLDERS -->
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          FOLDERS
        </div>
        <div class="panel-body">
          <div class="row clearfix">

            <!-- FOLDER -->
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3" *ngFor="let folder of folders">
                <a role="button"  (click)="getFolderContent(folder._id)">
              <div class="file-box" [attr.id]="folder._id">
                <div class="heading">
                  <input type="checkbox"/>
                </div>
                <div class="body">
                  <div class="icon">
                    <i class="fa fa-folder-open"></i>
                  </div>
                </div>
                <div class="footer">
                  <div class="name">{{folder.name}}</div>
                  <div class="size">{{folder.createdAt}}</div>
                </div>
              </div>
              </a>
            </div>

            <!-- END FOLDER -->

          </div>
        </div>
      </div>
    </div>
    <!-- END FOLDERS -->



<!-- Upload -->
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row clearfix">
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-1">
                <button [disabled]="!folderPath || !canGoBack" type="button" class="btn btn-default btn-block" (click)="goBack()"><i class="fas fa-angle-left"></i> Back</button>
              </div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
            <button class="btn btn-success btn-block" [disabled]="!folderPath" data-toggle="modal" data-target="#uploadModal">
                <!--onclick="$('.js-file-upload').click();"-->
                <i class="fa fa-upload m-r-5"></i>Upload Files
              </button>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
          <button type="button" class="btn btn-info btn-block"  [disabled]="!folderPath" data-toggle="modal" data-target="#folderModal"><i class="fas fa-folder"></i> New Folder</button>
        </div>
        <div class="col-md-2 col-lg-4"></div>
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-3">
            <div class="col-888 font-bold">Path: {{folderPath}}</div>
          </div>
      </div>
        <input type="file" class="js-file-upload hide" multiple>
      </div>
    </div>
  </div>
  <!-- END UPLOAD -->





    <!-- FILES -->
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          SELECTED FOLDER'S CONTENT
        </div>
        <div class="panel-body">
            
          <div class="row clearfix">

            <!-- SUBFOLDER -->
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3" *ngFor="let cFolder of childrenFolders">
                <a role="button" (click)="getFolderContent(cFolder._id)">
                <div class="file-box" [attr.id]="cFolder._id">
                  <div class="heading">
                    <input type="checkbox"/>
                  </div>
                  <div class="body">
                    <div class="icon">
                      <i class="fa fa-folder-open"></i>
                    </div>
                  </div>
                  <div class="footer">
                    <div class="name">{{cFolder.name}}</div>
                    <div class="size">{{cFolder.createdAt}}</div>
                  </div>
                </div>
                </a>
              </div>
  
              <!-- END SUBFOLDER -->

            <!-- FILE -->
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3" *ngFor="let file of files">
                <a href="javascript:void(0);" role="button"  (click)="toggleSidebar(file.filename)">
              <div class="file-box" [attr.id]="file.filename">
                <div class="heading">
                  <input type="checkbox" />
                </div>
                <div class="body">
                  <div class="icon">
                    <i class="far fa-file-word"></i>
                  </div>
                </div>
                <div class="footer">
                  <a href="javascript:void(0);" class="download" data-toggle="tooltip" data-title="Download File">
                                            <i class="fa fa-download"></i>
                                        </a>
                  <div class="name js-right-sidebar">{{file.path}}</div>       
                  <div class="size">{{file.uploadedAt}}</div>
                </div>
              </div>
                </a>
            </div>
            <!-- END FILE -->
          </div>

        </div>
      </div>
    </div>
    <!-- END FILES -->




    <!-- MODAL -->

    <div class="modal fade" id="uploadModal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <app-file-upload></app-file-upload>
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>

    <!-- END MODAL -->



    <!-- MODAL -->

    <div class="modal fade" id="folderModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
              <form [formGroup]="form" (submit)="createNewFolder()">
              <div class="modal-header">
                  <h4 class="modal-title" id="defaultModalLabel">CREATE FOLDER</h4>
                </div>
                <div class="modal-body">
                  
                  <div class="row clearfix">
                      <div class="col-sm-12">
                          <div class="col-888 font-bold">Path: {{folderPath}}</div>
                        </div>
                  </div>
                  <br>
                
                  <div class="row clearfix">
                      
                    <div class="col-sm-12">
                        <label>Folder Name</label>
                        <input type="text" class="form-control" placeholder="Folder Name" name="fName" formControlName="fName">
                    </div>
                  </div>
                  <br>
                
                  
                
                </div>
                
                
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">SAVE CHANGES</button>
                  <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="form.reset()">CLOSE</button>
                </div>
              </form>
                
          </div>
        </div>
      </div>
  
      <!-- END MODAL -->



  </div>
</div>

<!-- RIGHT SIDEBAR -->
<aside class="right-sidebar">
    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#tab_overview" data-toggle="tab">FILE INFOS</a></li>
        <li role="presentation"><a href="#tab_settings" data-toggle="tab">USERS</a></li>
      </ul>
      <div class="tab-content">
        <div class="right-sidebar-close">
            <i class="fa fa-times"></i>
        </div>

        <!-- FILE INFO -->
        <div role="tabpanel" class="tab-pane fade in active" id="tab_overview">
            <div class="tab-container">
              <div class="container">
              <br>
              <br>
      
              <p><strong>Filename : </strong></p><p>{{fileInfos.path}}</p> 
              <p><strong>Uploaded By : </strong> </p><p>{{fileInfos.uploadedBy}}</p> 
              <p><strong>Uploaded At : </strong> </p><p>{{fileInfos.uploadedAt}}</p> 
              <p><strong>Descriprion : </strong></p> <p>{{fileInfos.description}}</p> 
       
            </div>
          </div>
        </div>

        <!-- END FILE INFO -->

        <!-- USERS -->
        <div role="tabpanel" class="tab-pane fade" id="tab_settings">
            <div class="tab-container">

                <ul class="list-group">        
                  <li class="list-group-item" *ngFor="let user of fileUsers">{{user}}</li>
              </ul>
                
            </div>
        </div>
        <!-- END USERS -->
      </div>
    
</aside>
<!-- END RIGHT SIDEBAR -->

  
