<div class="page-body profile-page">
  <div class="cover-holder">
      <div class="cover-img"></div>
      <div class="profile-info">
          <img src="../../assets/images/avatars/face2.jpg" alt="User Image" />
          <div class="sub">
              <div class="name">{{user.username}}</div>
              <div class="detail">
                  <i class="far fa-envelope m-r-5"></i>{{user.email}}
              </div>
          </div>
      </div>
  </div>
  
  <div class="m-t-15 clearfix">


      <div class="col-sm-8">

            <div class="panel panel-default">
                    <div class="panel-body">
                            <div style="float: right;">
                                    Widgets in dashboard: 
                                    <label *ngIf="user.TODO"><input icheck iCheckClass="icheckbox_flat-green" type="checkbox" (ifChecked)="viewHideTodo()" (ifUnchecked)="viewHideTodo()" checked> ToDo</label>
                                    <label *ngIf="!user.TODO"><input icheck iCheckClass="icheckbox_flat-green" type="checkbox" (ifChecked)="viewHideTodo()" (ifUnchecked)="viewHideTodo()" > ToDo</label>
                                    <label  *ngIf="user.TE"><input icheck iCheckClass="icheckbox_flat-green" type="checkbox" (ifChecked)="viewHideTe()" (ifUnchecked)="viewHideTe()" checked > Text Editor</label>
                                    <label *ngIf="!user.TE"><input icheck iCheckClass="icheckbox_flat-green" type="checkbox" (ifChecked)="viewHideTe()" (ifUnchecked)="viewHideTe()" > Text Editor</label>
                            </div>
                    </div>
                    
                  </div>
          <app-text-editor></app-text-editor>
          <app-todo></app-todo>
          
      </div>
      <div class="col-sm-4">
          <div class="panel panel-default" data-panel-close="false" data-panel-fullscreen="false">
              <div class="panel-heading">GENERAL INFORMATION</div>
              <div class="panel-body">
                  <div class="info-content">
                      <div class="info-line">
                          <div class="info-title">Gender</div>
                          <div class="info-detail">{{user.gender}}</div>
                      </div>
                      <div class="info-line">
                          <div class="info-title">Birthdate</div>
                          <div class="info-detail">{{user.birthDate | date}}</div>
                      </div>
                      <div class="info-line">
                          <div class="info-title">Location</div>
                          <div class="info-detail">{{user.city}}</div>
                      </div>
                      <div class="info-line">
                          <div class="info-title">About Me</div>
                          <div class="info-detail">
                                {{user.about}}
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div *ngIf="user.type!=='A'" class="panel panel-default m-t-20" data-panel-close="false" data-panel-fullscreen="false">
              <div class="panel-heading">OTHER INFORMATIONS</div>
              <div class="panel-body">
                  <div class="info-content">
                      <div class="info-line">
                          <div class="info-title">Major</div>
                          <div class="info-detail">{{user.major}}</div>
                      </div>
                      <div class="info-line" *ngIf="user.type==='T'">
                          <div class="info-title">Subjects</div>
                          <div class="info-detail">{{user.subjects}}</div>
                      </div>
                      <div class="info-line" *ngIf="user.type==='S'">
                            <div class="info-title">Class</div>
                            <div class="info-detail">{{user.clas.year}}° {{user.clas.section}}</div>
                        </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>




