<aside class="sidebar" style="height:100%">
  <nav class="sidebar-nav">
    <ul class="metismenu">
      <li class="title">
        MAIN NAVIGATION
      </li>
      
      <!-- LINK -->

      <!-- DASHBOARD -->
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a routerLink="/dashboard/home">
            <i class="fas fa-tachometer-alt fa-lg"></i>
            <span class="nav-label">&ensp;Dashboard</span>
          </a>
      </li>
      <!--END DASHBOARD -->
      <!-- CLASSES -->
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" *ngIf="userType==='T' && userType!=='A'" >
        <a routerLink="/dashboard/classes">
          <i class="fas fa-users fa-lg"></i>
          <span class="nav-label">&ensp;My Classes</span>
        </a>
    </li>
    <!--END CLASSES -->

    <!-- FILE MANAGER -->
    <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" *ngIf="userType!=='A'">
      <a routerLink="/dashboard/filemanager">
        <i class="fas fa-folder-open fa-lg"></i>
        <span class="nav-label">&ensp;My Shared Files</span>
      </a>
  </li>
  <!--FILE MANAGER -->

  <!-- INBOX -->
  <li [routerLinkActive]="['active']" *ngIf="userType!=='A'">
      <a routerLink="/dashboard/mailbox">
        <i class="fas fa-envelope fa-lg"></i>
        <span class="nav-label">&ensp;Inbox</span>
      </a>
  </li>
  <!--INBOX -->

  <!-- USERS LIST -->
  <li [routerLinkActive]="['active']" *ngIf="userType==='A'">
      <a routerLink="/dashboard/usersList">
        <i class="fas fa-users fa-lg"></i>
        <span class="nav-label">&ensp;Users List</span>
      </a>
  </li>
  <!--USERS LIST -->

  <!-- NEW USER -->
  <li [routerLinkActive]="['active']" *ngIf="userType==='A'">
      <a routerLink="/dashboard/userNew">
        <i class="fas fa-user-plus fa-lg"></i>
        <span class="nav-label">&ensp;New User</span>
      </a>
  </li>
  <!--NEW USERS-->
        
      
      
    </ul>
  </nav>
</aside>
