<aside class="sidebar" style="height:100%">
  <nav class="sidebar-nav">
    <ul class="metismenu">
      <li class="title">
        MAIN NAVIGATION
      </li>
      
      <!-- LINK -->

      <!-- DASHBOARD -->
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a routerLink="/dashboard/home">
            <i class="fas fa-tachometer-alt fa-lg"></i>
            <span class="nav-label">&ensp;Dashboard</span>
          </a>
      </li>
      <!--END DASHBOARD -->
      <!-- CLASSES -->
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a routerLink="/dashboard/classes">
          <i class="fas fa-users fa-lg"></i>
          <span class="nav-label">&ensp;My Classes</span>
        </a>
    </li>
    <!--END CLASSES -->

    <!-- FILE MANAGER -->
    <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
      <a routerLink="/dashboard/filemanager">
        <i class="fas fa-folder-open fa-lg"></i>
        <span class="nav-label">&ensp;My Shared Files</span>
      </a>
  </li>
  <!--FILE MANAGER -->
        
      
      
    </ul>
  </nav>
</aside>
