

<div class="page-heading">
  <h1>MY CLASSES</h1>
  <ol class="breadcrumb">
    <li><a routerLink="/dashboard/home"><i class="fa fa-home"></i> Home</a></li>
    <li class="active"><a routerLink="/dashboard/classes"><i class="fas fa-users"></i> My Classes</a></li>
  </ol>
</div>
<div class="page-body">
  <div class="container">
    <div class="info-box infobox-type-4 hover-zoom-effect bg-primary">
      <div class="icon">
        <i class="material-icons">face</i>
      </div>
      <div class="content" style="min-height: 1474px;">
        <div class="text">Classes</div>
        <div class="number">11</div>
      </div>
    </div>

  
    <div class="panel panel-default">
        <div class="panel-heading">LAST 5 COMMENTS<button class="btn btn-primary btn-sm" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="true" aria-controls="collapseExample">
            Button with data-target
            </button></div>

      
        <div class="panel-body collapse" id="collapseExample">
            <div class="comment-box">
                <ul>
                    <li>
                        <div class="media">
                            <div class="media-left">
                                <a href="javascript:void(0);">
<img src="assets/images/avatars/face2.jpg" alt="User Avatar" />
</a>
                            </div>
                            <div class="media-body">
                                <div class="username">John Doe</div>
                                <div class="comment">Lorem ipsum dolor sit amet, vel fugit abhorreant ei.</div>
                                <div class="time">2 mins ago</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="media">
                            <div class="media-left">
                                <a href="javascript:void(0);">
<img src="assets/images/avatars/face6.jpg" alt="User Avatar" />
</a>
                            </div>
                            <div class="media-body">
                                <div class="username">Maria Doe</div>
                                <div class="comment">Lorem ipsum dolor sit amet, vel fugit abhorreant ei...</div>
                                <div class="time">30 mins ago</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="media">
                            <div class="media-left">
                                <a href="javascript:void(0);">
<img src="assets/images/avatars/face3.jpg" alt="User Avatar" />
</a>
                            </div>
                            <div class="media-body">
                                <div class="username">Everett Hunt</div>
                                <div class="comment">Vel ex audiam virtute mediocritatem, quo.</div>
                                <div class="time">1 hour ago</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="media">
                            <div class="media-left">
                                <a href="javascript:void(0);">
<img src="assets/images/avatars/face7.jpg" alt="User Avatar" />
</a>
                            </div>
                            <div class="media-body">
                                <div class="username">Connie Craig</div>
                                <div class="comment">Duo enim harum moderatius et, sed ex oblique persius labor...</div>
                                <div class="time">2 hours ago</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="media">
                            <div class="media-left">
                                <a href="javascript:void(0);">
<img src="assets/images/avatars/face5.jpg" alt="User Avatar" />
</a>
                            </div>
                            <div class="media-body">
                                <div class="username">Bran Craig</div>
                                <div class="comment">Eam te rebum legere urbanitas. Et vitae verear...</div>
                                <div class="time">2 hours ago</div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>


    
    </div>
  </div>

