

<div class="page-heading">
  <h1>MY CLASSES</h1>
  <ol class="breadcrumb">
    <li><a routerLink="/dashboard/home"><i class="fa fa-home"></i> Home</a></li>
    <li class="active"><a routerLink="/dashboard/classes"><i class="fas fa-users"></i> My Classes</a></li>
  </ol>
</div>
<div class="page-body">
    <div class="row-clearfix">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="container">               
                        <div class="info-box infobox-type-5 hover-expand-effect">
                            <div class="icon">
                                <i class="material-icons col-primary" style="color: #2980b9;">devices</i>
                            </div>
                            <div class="content" style="margin-top:0px !important;">
                                <div class="text">CLASSES</div>
                                <div class="number">{{classCount}}</div>
                            </div>
                        </div>
                    
        </div>

    </div>



    
    

  
 <div class="row-clearfix">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="container">
    <div class="panel panel-default">
        <div class="panel-body">
            <h3 class="panel-inside-title">Classes detail:</h3>
            <div class="panel-group" id="accordion_1" role="tablist" aria-multiselectable="true">
                <div *ngFor="let class of classes; let i=index;">
                    <br>
                <div class="panel" [ngClass]="{'panel-danger': class.year==1, 'panel-success': class.year==2, 'panel-primary': class.year==3, 'panel-default': class.year==4, 'panel-warning': class.year==5 }">        <!--class="panel panel-primary"-->
                    <div class="panel-heading" role="tab" [attr.id]="'accordione_1-heading-'+i">             <!--id="accordion_1-heading-{{i}}"-->
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse"  [attr.data-parent]="'#accordion_1-'+i"  [attr.href]="'#accordion_1-'+i" aria-expanded="false" [attr.aria-controls]="'#accordion_1-'+i">      <!--accordion_1-{{i}}      (click)="loadStudents(class.year, class.section)"-->
                                    {{class.year}} {{class.section}}    <i class="far fa-hand-pointer" style="float:right;"></i>
                            </a>
                            
                        </h4>
                        
                    </div>
                    <div [attr.id]="'accordion_1-'+i" class="panel-collapse collapse" role="tabpanel" [attr.aria-labelledby]="'accordion_1-heading-'+i">
                        <ul class="list-group">         <!-- *ngFor="let student of students[i].students"-->
                            <li class="list-group-item" *ngFor="let student of students[class.year+class.section]">{{student.name}} {{student.surname}}</li>
                        </ul>
                    </div>
                </div>
               
           
                </div>
            </div>

        </div>
    </div>
        </div>
</div>

        


    
    </div>


